/* Style for the name input card */
.name-input, .custom-dropdown {
    width: 90%; /* Full width for better appearance */
    border-radius: 50px;
    padding: 10px;
    font-size: 1.2rem; /* Match font size */
}
/* Add a slight hover effect for the name input */
.name-input:hover, .custom-dropdown:hover {
    background-color: #f0f8ff;
    border-color: #007bff;
}

#characterImages {
display: block; /* Change from flex to block */
margin: 0 auto; /* Center the container */
}

#characterImages div {
display: block; /* Ensures each wrapper div is a block element */
margin-bottom: 20px; /* Space between each title-image pair */
}

#characterImages img {
width: 200px; /* Set width */
height: 200px; /* Set height */
object-fit: cover; /* Maintain aspect ratio without distortion */
display: block; /* Ensures the image is a block element */
margin: 0 auto; /* Centers the image */
}
.custom-dropdown {
    width: 100%; /* Full width for better appearance */
    border-radius: 50px;
    padding: 10px;
    font-size: 1.2rem; /* Match font size */
}

.custom-dropdown:hover {
    background-color: #f0f8ff;
    border-color: #007bff;
}

/* New CSS for the mappingResult */
#mappingResult {
    font-size: 1.2rem; /* Adjust the font size here */
    white-space: pre-wrap; /* Maintain whitespace and allow wrapping */
}
body {
text-align: center; /* Center all text in the body */
}

.language-container {
display: inline-block; /* Allows for the container to center */
margin: 20px; /* Adds space between language sections */
}

.language-container img {
display: block; /* Ensure images are treated as block elements */
margin: 0 auto; /* Center images horizontally */
}